<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>MAIN</title>
    <link rel = "icon" href =
"https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/200px-Python-logo-notext.svg.png"
        type = "image/x-icon">
    <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
</style>
</head>
<body>
<div>
<div class="card" style="width: 100%;">
  <div class="card-body bg-gray" style="text-align:center; background-color:#ccc">
      <h1 class="display-1">Welcome to My Application</h1>
      <a href="/storage">Go to storage </a>
  </div>
</div>
    <div class="body"></div>
    <footer class="footer">
        <h9>@Saket</h9>
    </footer>
</div>
</body>
</html>